<div class="page">
    <h2 class="title">
</h2>

    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default" style="border-radius:0px;">
                <div class="panel-heading panel-hdr"><span class="glyphicon glyphicon-th mr5"></span>Create Ads
                </div>
                <div class="panel-body">
                    <form name="form_constraints" class="form-validation" data-ng-submit="submitForm()">
                        <div class='form-group'><label>Title</label><input type='text' class='form-control' ng-model = 'ads.title' placeholder='Title' required > </div><div class='form-group'><label>Link</label><input type='text' class='form-control' ng-model = 'ads.link' placeholder='Link' > </div><div class='form-group'><label>Order</label><input type='number' class='form-control' ng-model = 'ads.order' placeholder='Order' > </div><div class='form-group'><label>Timestamp Start</label><input type='date' class='form-control' ng-model = 'ads.timestampstart' placeholder='Timestamp Start' required > </div><div class='form-group'><label>Timestamp End</label><input type='date' class='form-control' ng-model = 'ads.timestampend' placeholder='Timestamp End' required > </div><div class='form-group'><label>Image</label><input type='file' class='form-control' ng-model = 'ads.image' placeholder='Image' > </div><!--Add New Tags-->
                        <div class="text-center" style="padding-bottom:20px;">
                            <button type="submit" class="btn btn-primary all-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>