<div class="page">
    <h2 class="title">
</h2>
    <div class="row">
        <div class="col-md-12">
            <section class="panel panel-default" style="border-radius:0px;">
                <div class="panel-heading panel-hdr"><span class="glyphicon glyphicon-th mr5"></span>Edit Winner
                </div>
                <div class="panel-body">
                    <form name="form_constraints" class="form-validation" data-ng-submit="submitForm()">
                        <div class='form-group'>
                            <label>Event</label>
                            <select ng-model='winner.event' class='form-control' required ng-change="getCatAge();">
                                <option value=''>Select Event</option>
                                <option value='Triathlon'>Triathlon</option>
                                <option value='3 legged'>3 legged</option>
                                <option value='4 legged'>4 legged</option>
                                <option value='Mixed Relay'>Mixed Relay</option>
                                <option value='Tug Of War'>Tug Of War</option>
                                <option value='Skating'>Skating</option>
                                <option value='Kho-Kho'>Kho-Kho</option>
                                <option value='Musical Station'>Musical Station</option>
                                <option value='Khatron Ke Khiladi'>Khatron Ke Khiladi</option>
                                <option value='Lagori'>Lagori</option>
                                <option value='Throw Ball'>Throw Ball</option>
                                <option value='Handminton'>Handminton</option>
                                <option value='Bucket Ball'>Bucket Ball</option>
                                <option value='Quiz'>Quiz</option>
                                <option value='Dance'>Dance</option>
                                <option value='Street Play'>Street Play</option>
                                <option value='Cycling'>Cycling</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <!-- Category -->
                            <label>Category</label>
                            <select ng-model='winner.category' class='form-control' ng-options="cat.category as cat.category for cat in category"></select>
                        </div>
                        <div class="form-group">
                            <!-- AGE -->
                            <label>Age</label>
                            <select ng-model='winner.age' class='form-control' ng-options="ages.age as ages.age for ages in age"></select>
                        </div>
                        <div class="form-group">
                            <!-- WINNER1 -->
                            <label>Winner 1</label>
                            <select ng-model='winner.win1' class='form-control'>
                                <option value="">Select Winner 1</option>
                                <option value="{{teams.teamname}}" ng-repeat="teams in team">{{teams.teamname}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <!-- WINNER2 -->
                            <label>Winner 2</label>
                            <select ng-model='winner.win2' class='form-control'>
                                <option value="">Select Winner 2</option>
                                <option value="{{teams.teamname}}" ng-repeat="teams in secteam">{{teams.teamname}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <!-- WINNER3 -->
                            <label>Winner 3</label>
                            <select ng-model='winner.win3' class='form-control'>
                                <option value="">Select Winner 3</option>
                                <option value="{{teams.teamname}}" ng-repeat="teams in thiteam">{{teams.teamname}}</option>
                            </select>
                        </div>
                        <div class="text-center" style="padding-bottom:20px;">
                            <button type="submit" class="btn btn-primary all-btn">Submit</button>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
</div>
